In [1]:
#ANALYSIS ON TOTAL ENERGY STATEMENT OF PROFIT AND LOSS AND OTHER COMPREHENSIVE INCOME AS AT 30TH SEPTEMBER 2023
#MOST OF THE VARIABLES ARE THE ACRONYMS OF THE TERMS, 
#i.e SPL = Statement of profit or loss, R = Revenue, OP = Operating Profit

In [2]:
import pandas as pd
import requests
import matplotlib as plt

In [3]:
SPL = pd.read_excel('Book (4).xlsx')

In [4]:
SPL.head(25)

,TOTAL ENERGIES MARKETING NIGERIA PLC,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,STATEMENT OF PROFIT OR LOSS AND OTHER COMPREHE...,NaN,NaN,NaN,NaN
1,DESCRIPTION,NaN,NaN,30TH SEPTEMBER 2023,30TH SEPTEMBER 2022
2,,,NOTES,0,0
3,,,,,
4,REVENUE,NaN,,147973506,128173598
5,COST OF SALES,,,-126888550,-113316305
6,,,,,
7,GROSS PROFIT,,,21084956,14857293
8,,,,,
9,OTHER INCOMES,,,1230199,913217
10,OTHER EXPENSES,,,-4805084,0
11,SELLING AND DISTRIBUTION COST,,,-1780644,-721564
12,,,,,
13,ADMINISTRATIVE EXPENSES,,,-11228719,-8280623
14,IMPAIRMENT,,,-4072,376062
15,OPERATING PROFIT,,,4496636,7144385
16,,,,,
17,FINANCE INCOME,,,1034113,316725
18,FINANCE COST,,,-2385680,-1410382
19,NET FINANCE COST,,,-1351567,-1093657
20,,,,,
21,PROFIT BEFORE INCOME TAX,,,3145069,6050728
22,,,,,
23,INCOME TAX,,,-1111717,-2073742
24,PROFIT FOR THE PERIOD,,,2033352,3976986

In [5]:
SPL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   TOTAL ENERGIES MARKETING NIGERIA PLC  28 non-null     object
 1   Unnamed: 1                            25 non-null     object
 2   Unnamed: 2                            26 non-null     object
 3   Unnamed: 3                            27 non-null     object
 4   Unnamed: 4                            27 non-null     object
dtypes: object(5)
memory usage: 1.2+ KB

In [6]:
SPL.isnull().sum()

TOTAL ENERGIES MARKETING NIGERIA PLC    0
Unnamed: 1                              3
Unnamed: 2                              2
Unnamed: 3                              1
Unnamed: 4                              1
dtype: int64

In [7]:
SPL.iloc[4]

TOTAL ENERGIES MARKETING NIGERIA PLC      REVENUE
Unnamed: 1                                    NaN
Unnamed: 2
Unnamed: 3                              147973506
Unnamed: 4                              128173598
Name: 4, dtype: object

In [8]:
SPL.iloc[4, 4]

128173598

In [9]:
SPL.iloc[4 + 5 ]

TOTAL ENERGIES MARKETING NIGERIA PLC    OTHER INCOMES
Unnamed: 1
Unnamed: 2
Unnamed: 3                                    1230199
Unnamed: 4                                     913217
Name: 9, dtype: object

In [10]:
C_R = SPL.iloc[4]

In [11]:
C_R

TOTAL ENERGIES MARKETING NIGERIA PLC      REVENUE
Unnamed: 1                                    NaN
Unnamed: 2
Unnamed: 3                              147973506
Unnamed: 4                              128173598
Name: 4, dtype: object

In [12]:
C_COGS = SPL.iloc[5]

In [13]:
C_COGS

TOTAL ENERGIES MARKETING NIGERIA PLC    COST OF SALES
Unnamed: 1
Unnamed: 2
Unnamed: 3                                 -126888550
Unnamed: 4                                 -113316305
Name: 5, dtype: object

In [14]:
#GROSS PROFIT CALCULATION MODEL
R = SPL.iloc[4,3]
COGS = SPL.iloc[5,3]
GP = R + COGS
print(GP, 'IS GROSS PROFIT')

21084956 IS GROSS PROFIT

In [15]:
#OPERATING PROFIT CALCULATION MODEL
t1 = SPL.iloc[9, 3]
t2 = SPL.iloc[10, 3]
t3 = SPL.iloc[11, 3]
t4 = SPL.iloc[13, 3]
t5 = SPL.iloc[14, 3]

#Operating Profit
OP = GP + t1 + t2 + t3 + t4 + t5
print(OP)

4496636

In [16]:
#FINANCE COST
FC1 = SPL.iloc[17,3]
FC2 = SPL.iloc[18,3]

FC = FC1 + FC2
print(FC)

-1351567

In [17]:
#PROFIT BEFORE TAXATION

PBT = OP + FC
print(PBT)

3145069

In [20]:
#NET PROFIT
NP = PBT + SPL.iloc[23,3]
print(NT)

2033352